.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}


.inputBlock {
  position: absolute;
  z-index: 500;
}

.inputBlock input {
  margin-left: 10px;
  padding: 5px;
  border: 2px solid rgb(41, 38, 38);
  font-size: 20px;
  margin: 10px;
}

.addloc {
  margin-left: 10px;
  padding: 5px;
  font-size: 20px;
  border: 2px solid rgb(41, 38, 38);
}

